<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabBarItems</key>
	<array>
		<dict>
			<key>Storyboard</key>
			<string>Sorting</string>
			<key>Title</key>
			<string>Sorting</string>
			<key>Image</key>
			<string>first</string>
			<key>TabTitle</key>
			<string>Sorting</string>
		</dict>
		<dict>
			<key>Storyboard</key>
			<string>Graph</string>
			<key>Title</key>
			<string>Graph</string>
			<key>Image</key>
			<string>second</string>
			<key>TabTitle</key>
			<string>Graph</string>
		</dict>
	</array>
</dict>
</plist>
